.container1 {
    display: flex;
    justify-content: center;
    /* width:70%; */
    /* height:60%; */
    flex-wrap: nowrap;
  }
  
  .cards1 {
    
    display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 1px; /* Add gap between cards */
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Add space between cards in a row */
  width: 100%;
  }
  
  .card1 {
    /* background-color: rgba(248, 241, 241, 0.351);; */
    overflow: hidden;
  border: 1px solid rgb(45, 45, 45);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(33.33% - 5px); 
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease; /* Add smooth transition effect */
  }
  
  @media screen and (max-width: 768px) {
    .card1 {
      /* background-color: rgba(248, 241, 241, 0.351);; */
      flex-direction: column;
      align-items: flex-start; /* Align content to the left in mobile view */
      text-align: left; /* Align text to the left in mobile view */
    }
  }
  
 .img1 {
  /* background-color: rgba(248, 241, 241, 0.351);; */
  align-items: center; /* Center content vertically within the .img container */
  display: flex;
}

.img1 img {
  /* background-color: rgba(248, 241, 241, 0.351);; */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    position: relative;
top: -15px; 
  border-radius: 0.2rem;
  width: 90px; /* Adjust image size */
  height: auto;
  @media screen and (max-width: 548px) {
   /* .img img {
    position: relative;
    left: 65px;
    top: 0px; 
    justify-content:center; */
   /* } */
    }
}

  
  .contentt1 {
    /* background-color: rgba(248, 241, 241, 0.351);; */
    color:rgb(122, 122, 122);
    flex: 1;
    padding-left: 1rem; /* Add left padding for content */
  }

  .contentt1 h1 {
    /* background-color: rgba(248, 241, 241, 0.351); */
    color:white;
    font-size:1.5rem;
    margin-bottom:0.4rem;
  }

  .contentt1 h5 {
    /* background-color: rgba(248, 241, 241, 0.351); */
    font-size:0.5rem;
    color:white;   
     font-family: "IBM Plex Mono",monospace;
    margin-bottom:3px;
  }
  .iconnn {
    /* background-color: rgba(248, 241, 241, 0.351); */
    fill:rgb(154, 154, 154);
    margin-bottom:0.4rem;
  }
  .contentt1{
    /* background-color: rgba(248, 241, 241, 0.351); */
  }
  .contentt1 p{
    /* background-color: rgba(248, 241, 241, 0.351); */
    color:white;
    width:88%;
    display:flex;
    flex-direction:row;
  }
